#info {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
    font-weight: bold;
}
#actions {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 10px;
}
#categories{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.infotitle{
    margin-bottom: 0;
}
.scores *{
    margin-bottom: 0;
    font-size: larger;
}

.btn-block+.btn-block{
    margin-top: 0%;
}

.hidden-attr {
    display: none;
}

.page-title {
    background-color: white;
}
.page-subtitle {
    background-color: white;
}
.suspension-grid{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}
.suspension-grid-item {
    margin: 0;
    padding: 10px;
}
.suspension-grid-title {
    font-weight: bold;
}

#rundown-grid{
    margin-top: 10px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: white;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#week-buttons{
    margin-top: 5px;
}
.week-grid{
    margin-top: 10px;
    height: 210px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* gap: 5px; */
}
#day-facts {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}
.rundown-item {
    margin: 0;
}
#totals-grid{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}
#recents-grid{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}
.stats-title {
    margin: 0;
}
.stats-left {
    justify-self: right;
}
.stat-value {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url("../images/background.jpg");
    }
    #categories{
        margin-top: 20px;
    }
	.ibutton{
        height: 50px;
    }
	.abutton{
        height: 90px;
        color: white;
    }
    .ifield{
        text-align: center;
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        height: 35px;
    }
    html, body {
        margin: 0; height: 100%; overflow: hidden
    }

} 